+b.pagination
    +e.A.item_prev(href="#") предыдущая

    +e.A.item.active(href="#") 1
    +e.A.item(href="#") 2
    +e.A.item(href="#") 3
    +e.A.item(href="#") 4
    +e.A.item(href="#") 5
    +e.A.item(href="#") 6
    +e.A.item(href="#") ...
    +e.A.item(href="#") 25

    +e.A.item_next(href="#") следующая

