+b.SECTION.about-block
    +e.wrp.wrp
        +e.info-block
            +e.title.h2 О застройщике
            +e.UL.list
                +e.LI.item ООО «Жилкапинвест» с 2004 года успешно работает на строительном рынке России и ближнего зарубежья и с самого начала зарекомендовала себя как стабильная, динамично развивающаяся компания, осуществляющая весь спектр строительных услуг.
                +e.LI.item Накопленный в течение 12-ти лет опыт позволяет компании решать практически любые задачи в области организационно-технологического обеспечения, строительства на протяжении всего цикла работ.
                +e.LI.item В своей деятельности ООО «Жилкапинвест» стремится к достижению лучших результатов как для клиентов и партнеров компании, так и для развития собственного бизнеса.
                +e.LI.item Для тех, кто не готов ждать окончания ремонта и планирует заселение сразу после ввода дома в эксплуатацию, в ЖК Фрегат 2 предусмотрены квартиры с готовой отделкой высококачественными материалами в современном стиле и в одном из двух цветовых вариантов. Вы можете посетить наш шоу-рум, чтобы ознакомится с качеством отделки.
        +b.about-img-block
            +e.IMG.img(src="img/logo.png")
            +e.circle-block
                +e.SPAN.decor_1
                +e.SPAN.decor_2.active
                +e.SPAN.decor_3
                +e.SPAN.decor_4
                +e.SPAN.decor_5
                +e.SPAN.decor_6
            +e.text-block
                +e.lev
                    +e.item
                        +e.title.h4 30 000
                        +e.SPAN.text Счастливых жильцов
                +e.lev
                    +e.item_2
                        +e.title.h4 500 000 м²
                        +e.SPAN.text Жилья построено
                    +e.item_3
                        +e.title.h4 13 лет
                        +e.SPAN.text На рынке
                +e.lev
                    +e.item_4
                        +e.title.h4 25 городов
                        +e.SPAN.text В 3-х странах
                    +e.item_5
                        +e.title.h4 20 млр
                        +e.SPAN.text Инвестиций
                +e.lev
                    +e.item
                        +e.title.h4 10 000
                        +e.SPAN.text Квартир


