+b.SECTION.review
    +e.wrp.wrp
        +e.title-block
            +e.title.h2 Отзывы наших жильцов
            +e.arrs.arrs
                +e.btn-prev
                    img(src="img/arr-prev.svg")
                +e.btn-next
                    img(src="img/arr-next.svg")
        +e.slider
            .swiper-wrapper
                +e.slide.swiper-slide
                    +e.cont
                        +e.FIGURE.figure
                            img(src="img/client.jpg")
                        +e.info-block
                            span Александр Старостин
                            p Задача организации, в особенности же начало повседневной работы по формированию позиции в значительнойЗадача организации, в особенности же начало повседневной работы по формированию позиции в значительнойЗадача организации, в особенности же начало повседневной работы по формированию позиции в значительнойЗадача организации, в особенности же начало повседневной работы по формированию позиции в значительной степени обуславливает создание существенных финансовых и административных условий. Таким образом рамки и место обучения кадров требуют от нас анализа дальнейших направлений развития. Спасибо!
                +e.slide.swiper-slide
                    +e.cont
                        +e.FIGURE.figure
                            img(src="img/client.jpg")
                        +e.info-block
                            span Александр Старостин
                            p Задача организации, в особенности же начало повседневной работы по формированию позиции в значительной степени обуславливает создание существенных финансовых и административных условий. Таким образом рамки и место обучения кадров требуют от нас анализа дальнейших направлений развития. Спасибо!
                +e.slide.swiper-slide
                    +e.cont
                        +e.FIGURE.figure
                            img(src="img/client.jpg")
                        +e.info-block
                            span Александр Старостин
                            p Задача организации, в особенности же начало повседневной работы по формированию позиции в значительной степени обуславливает создание существенных финансовых и административных условий. Таким образом рамки и место обучения кадров требуют от нас анализа дальнейших направлений развития. Спасибо!
