// titles

.h1, .h2, .h3, .h4
  color: $font-blue
  font-weight: bold
  line-height: 1.1
.h1
  font-size: 40px
  +rw
    font-size: 30px
  +rm
    font-size: 24px
.h2
  font-size: 30px
  +rn
    font-size: 24px
.h3
  font-size: 24px
  +rn
    font-size: 18px
.h4
  font-size: 18px
  +rn
    font-size: 16px

// svg-sprite

.check
  fill: $sky-col-dark
  width: 24px
  height: 24px

// breadcrumbs

.breadcrumbs
  padding: 39px 0 22px
  +rt
    padding: 20px 0 10px
  a
    font-size: 16px
    text-decoration: none
    color: $font-col
  i
    padding-right: 5px
    color: $font-col

// elements

.arrs
  user-select: none
  +flex
  width: 80px
  img
    cursor: pointer

=shadow
  box-shadow: 0 8px 10px 0 rgba(255, 74, 25, 0.25)

=br5
  border-radius: 5px
  overflow: hidden

.btn
  height: 45px
  background: $main-col
  color: #fff
  border-radius: 50px
  display: flex
  align-items: center
  justify-content: center
  font-size: 14px
  text-transform: uppercase
  font-weight: bold
  width: 225px
  text-decoration: none
  padding: 0 10px
  &:hover
    +shadow
    color: #fff
  &:active
    background: $main-col-dark
    +shadow
  &_white
    border: solid 2px $main-col
    background: #fff
    color: $main-col
    &:hover
      box-shadow: none
      background: $main-col
      color: #fff
    &:active
      background: $main-col-dark


// form

.inp
  height: 45px
  background: #fff
  border-radius: 50px
  width: 225px
  padding: 0 10px 0 30px
  &.form-err
    border: solid 1px $main-col

// ui-sliders

.ui-slider
  border: none!important
  background: transparent!important
  +psevdo
  &:before
    +zero
    left: -30px
    width: 120%
    height: 2px
    background: $sky-col

.ui-slider-range
  background: $main-col!important
  height: 3px!important
  top: 5px!important

.ui-slider-handle
  border: none!important
  cursor: ew-resize!important
  background: transparent!important
  +psevdo
  &:before
    top: 2px
    left: 0
    width: 20px
    height: 20px
    border: solid 6px $main-col
    border-radius: 50%
    background: #fff
    +shadow

// content

.html
  a
    padding: 0 5px
    color: $font-blue
    text-decoration: underline!important
    &:hover
      color: $main-col
      text-decoration: underline!important
    &:active
      color: $main-col-dark
      text-decoration: underline!important

  p
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0

  ul
    color: $font-blue
    line-height: 25px
    font-weight: 600
    li
      font-weight: 400
      line-height: normal
      color: $font-col
      margin: 0 0 12px 15px
      +psevdo
      &:before
        width: 5px
        height: 5px
        border-radius: 50%
        background: $main-col
        top: 0
        bottom: 0
        left: -15px
        margin: auto
      &:last-child
        margin: 0 0 0 15px

  ol
    list-style-type: none
    counter-reset: num

    li
      position: relative
      margin: 40px 0 10px
      &:before
        position: absolute
        left: 0
        top: -20px
        content: counter(num) '. '
        counter-increment: num
        color: $font-blue
        font-size: 18px
        font-weight: bold

  table
    width: 100%
    table-layout: fixed
    text-align: center

    th, td
      padding: 25px 10px




      border: solid 2px $sky-col-med
      color: $font-col

    th
      background: $sky-col
      color: $font-blue
      font-weight: 600


  blockquote
    padding: 20px 0
    p
      font-style: italic
      padding-left: 25px
      +psevdo
      &:before
        height: 110%
        width: 5px
        border-radius: 2px
        background: $font-blue
        left: 0
        top: 50%
        transform: translate(0, -50%)
    div
      text-transform: uppercase
      color: $font-blue
      font-size: 18px
      padding-left: 60px
      position: relative
      font-weight: 600
      margin-bottom: 10px
      &:before
        position: absolute
        content: '“'
        font-size: 100px
        color: $sky-col
        left: 10px
        top: -18px
    span
      padding-left: 60px














