-
    var mainInfo = [
        {
            "title": "100% оплата",
            "text": "Подбор квартир в новостройках Фрегат 2 на старте продаж — экономия более 500 000 р при покупке"
        },
        {
            "title": "Материнский капитал",
            "text": "Материнский капитал можно использовать в качестве первоначального взноса при покупке жилья в ипотеку"
        },
        {
            "title": "В рассрочку",
            "text": "Продажа квартир в рассрочку предоставляется без процентов на срок \n"+
            "до 48 месяцев, в зависимости от условий реализации на объекте. Первый взнос - 30%"
        },
        {
            "title": "В ипотеку",
            "text": "Специальные ставки на объекты ООО «Жилкапинвест» в большинстве ведущих банков России"
        }
    ]

+b.SECTION.info3
    +e.wrp.wrp
        +e.title.h2 Как купить
        +e.UL.list
            each item in mainInfo
                +e.LI.item
                    +icon("check")
                    +e.lil-title.h4= item.title
                    +e.P.text= item.text
