// success modal

+b.DIV.modal.mfp-hide#success-popup
    +b.DIV.success
        +e.H2.title
            | Спасибо!
            br
            | Ваша заявка отправлена
        +e.SPAN.text
            | Наш менеджер свяжется с вами
            br
            | в ближайшее время
