.about
  &.main
    margin-top: 0!important
  &__hero
    background-size: cover
    position: relative
    height: 100vh
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    color: #fff
    figure
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-size: cover
      background-position: center center
      z-index: -1

  &__hero-title
    color: #fff
    margin-bottom: 20px
  &__hero-text
    max-width: 850px

// history

.history
  padding: 80px 0 60px
  +rm
    padding: 40px 0 30px
  &__title
    margin-bottom: 30px
  &__tabs-block
    display: flex
    justify-content: space-between
  &__tab-item
    //text-align: center
    &.active
      .history__num
        background: $font-blue
        color: #fff
  &__year
    margin-bottom: 20px
    font-size: 18px
    text-transform: uppercase
    font-weight: bold
    display: block


  &__num
    display: block
    border: solid 2px $sky-col
    border-radius: 50%
    width: 40px
    height: 40px
    text-align: center
    line-height: 40px
    color: $font-blue
    font-size: 18px
    font-weight: bold








