+b.SECTION.info2
    +e.wrp.wrp
        +e.title.h2 Микрорайон Нейбута расположен в западной части Ленинского района города Владивостока
        +e.UL.list
            +e.LI.item
                +icon("icon-1")
                p
                    |Это спальный район с развитой инфраструктурой. На территории микрорайона есть все необходимое для комфортного проживания.
                    br
                    |В районе имеются школы, детские сады, игровые площадки, гостиничный комплекс, современные супермаркеты, автозаправки, известный по всему краю "Зеленый Угол" и другие важные объекты.
            +e.LI.item
                +icon("icon-2")
                p
                    | В администрации города на рассмотрение находится несколько проектов соединения Нейбута и с новой трассой «Аэрпорт – о. Русский). Один из вариантов это выезд в район Тихой эстакадным путепроводом.
                    br
                    br
                    | Ориентировочная территория соединения – Нейбута 12, ост. «Сахалинская» (кольцо трамвая) – Командорская (ТЭЦ-2).
            +e.LI.item
                +icon("icon-3")
                ul
                    li На автомобиле по улицам Сабанеева, Фадеева и Луговой.
                    li На муниципальном транспорте можно доехать до конечной остановки: 16К (Луговая – Нейбута) и 16Ц (Ц. площадь – Нейбута).
                    li На маршрутном такси 16Б (Баляева – Нейбута).

            +e.LI.item
                +icon("icon-4")
                p Данный путепровод сможет решить сразу несколько проблем: разгрузит дороги Борисенко, Фадеева, Командорская, даст возможность исключить проезды через ул. Спортивную и Луговую, где традиционно большая автомобильная нагрузка.

        +e.A.btn.btn_white(href="#") смотреть на карте
        