.pick-flat

  &__title
    margin-bottom: 28px
  &__tab
    +b
    height: 63px
    line-height: 63px
    color: $font-col-light
    font-size: 18px
    font-weight: 600
    text-transform: uppercase
    width: 348px
    border: solid 2px $sky-col
    border-radius: 5px 5px 0 0
    margin: 0 -4px
    &.active
      background: $sky-col
      color: $font-blue
  &__cont
    height: 707px
    display: none
    &_param
      padding-top: 70px
      background: $sky-col
    &.active
      display: block

// param form

.pick-param
  display: flex
  &__form
    display: flex
    flex-direction: column
    height: 567px
    min-width: 400px
    margin-right: 30px

  // ui-sliders

  &__slider-block
    background: #fff
    border-radius: 5px
  &__lev
    padding: 20px 30px 0 30px
    &:first-child
      padding: 30px 30px 0 30px
  &__param-title
    font-size: 14px
    text-transform: uppercase
    font-weight: 600
  &__value-block
    margin: 0 0 10px
    display: flex
    justify-content: space-between
    input
      font-size: 30px
      &:first-child
        min-width: 165px
      &:last-child
        max-width: 185px
        text-align: right
  &__slider_bottom.ui-slider:before
    background: transparent

  .ui-slider
    top: 5px!important

  // table

  &__table-block
    position: relative
    display: block
    width: 100%

  &__scroll-content
    height: 566px
    overflow: auto

  &__table
    width: 100%
    &_head
      position: absolute
      z-index: 100
    td
      color: $font-blue
      border: solid 2px $sky-col-dark
      text-align: center
      line-height: 45px
      &:nth-child(7)
        border-right: none
      &:last-child
        border-left: none
        position: relative
        width: 40px
  &__tr
    height: 47px
    &_head
      background: $sky-col-med
      &.hidden
        visibility: hidden

      td
        text-transform: uppercase
        font-size: 12px
        font-weight: 600
  &__eye-link
    width: 33px
    height: 33px
    border-radius: 50%
    background: #fff
    box-shadow: 0 0 10px 0 rgba(255, 71, 22, 0.22)
    line-height: 1
    +psevdo
    position: absolute
    +zero
    left: -20px
    &:before
      width: 20px
      height: 20px
      background: $main-col
      top: 0
      bottom: 0
      margin: auto
      left: 6px
      transform: rotate(45deg)
      border-radius: 15px 0 15px
    &:after
      width: 10px
      height: 10px
      border-radius: 50%
      border: solid 3px #fff
      top: 0
      bottom: 0
      left: 11px
      margin: auto
    &:hover
      background: $main-col
      &:before
        background: #fff
      &:after
        border: solid 3px $main-col

// custom scrollbar

.my-custom-scrollbar
  border: solid 2px $sky-col-dark
  cursor: pointer
  display: none
  position: absolute
  &.scroll-scrolly_visible
    display: block
    height: 50%
    right: -20px
    top: 0
    width: 10px
  div
    height: 100%
    left: 0
    top: 0
    position: absolute
    width: 100%
  .scroll-bar
    background: $sky-col-dark
    z-index: 12
    height: 100px

// form buttons

.custom-btn-param
  margin-top: 30px
  flex-grow: 1
  border: solid 2px $sky-col-dark
  border-radius: 5px
  padding: 35px 30px
  display: flex
  flex-direction: column
  justify-content: space-between
  &__title
    font-size: 14px
    text-transform: uppercase
    font-weight: 600
  &__top-block
    display: flex
    justify-content: space-between

  &__top-room
    width: 145px
  &__top-decor
    flex-grow: 1
  &__bottom-box
    margin-top: 10px
    display: flex
    justify-content: space-between
  &__btn
    width: 209px
