+b.SECTION.hero(style="background-image: url(img/hero.jpg);")
    +e.info-block
        +e.title.h1 Территория для лучшей жизни
        +e.P.text Фрегат 2 - жилой комплекс во Владивостоке
        +e.P.text
            | Квартиры
            span от 1 800 000 рублей!
        +e.A.btn.btn(href="#") выбрать квартиру