-
    var aboutSliderInfo = [
        {"title": "2016 — 2019","text": "Даты строительства"},
        {"title": "25","text": "Этажей"},
        {"title": "110","text": "Тыс. м² жилья"},
        {"title": "5","text": "Спортплощадок"},
        {"title": "2700","text": "Квартир"},
        {"title": "4","text": "Лифта в каждом доме"},
        {"title": "10","text": "Детских площадок"},
        {"title": "10","text": "Домов"}
    ]

+b.SECTION.about-slider
    +e.wrp.wrp
        +e.title-block
            +e.title.h2 О проекте Фрегат 2
            +e.arrs.arrs
                +e.btn-prev
                    img(src="img/arr-prev.svg")
                +e.btn-next
                    img(src="img/arr-next.svg")

        +e.cont
            +e.info-block
                +e.UL.list
                    each item in aboutSliderInfo
                        +e.LI.item
                            +e.lil-title.h3= item.title
                            +e.P.text= item.text
                            +e.SPAN.decor= item.title

            +e.slider-block
                +e.slider-cont
                    +e.slider
                        +e.SPAN.mask
                        .swiper-wrapper
                            +e.slide.swiper-slide(style="background-image: url(img/house-slider.jpg);")
                                +e.slide-title.h3 Дом 1А
                                +e.P.slide-text Сдан в 2007
                            +e.slide.swiper-slide(style="background-image: url(img/house-slider.jpg);")
                                +e.slide-title.h3 Дом 1А
                                +e.P.slide-text Сдан в 2007
                            +e.slide.swiper-slide(style="background-image: url(img/house-slider.jpg);")
                                +e.slide-title.h3 Дом 1А
                                +e.P.slide-text Сдан в 2007
                            +e.slide.swiper-slide(style="background-image: url(img/house-slider.jpg);")
                                +e.slide-title.h3 Дом 1А
                                +e.P.slide-text Сдан в 2007
                            +e.slide.swiper-slide(style="background-image: url(img/house-slider.jpg);")
                                +e.slide-title.h3 Дом 1А
                                +e.P.slide-text Сдан в 2007
                            +e.slide.swiper-slide(style="background-image: url(img/house-slider.jpg);")
                                +e.slide-title.h3 Дом 1А
                                +e.P.slide-text Сдан в 2007
                            +e.slide.swiper-slide(style="background-image: url(img/house-slider.jpg);")
                                +e.slide-title.h3 Дом 1А
                                +e.P.slide-text Сдан в 2007
                            +e.slide.swiper-slide(style="background-image: url(img/house-slider.jpg);")
                                +e.slide-title.h3 Дом 1А
                                +e.P.slide-text Сдан в 2007
