extends ../template

block variables
    - var title = 'About'

block content

    +header()(class="transp")

    +b.MAIN.about.main

        +e.hero
            +e.hero-wrp.wrp
                figure(style="background-image: url(img/about-hero.jpg);)")
                +b.DIV.breadcrumbs
                    a(href="/") Главная
                    i /
                    a О застройщике
                +e.hero-title.h1 О застройщике
                +e.P.hero-text Жилой комплекс «Фрегат 2» - это масштабный проект, состоящий из 10 односекционных 25-ти этажных домов, выполненных в едином стиле, но отличающихся некоторыми элементами фасадов. Реализация проекта рассчитана на 5 лет

        +b.SECTION.history
            +e.wrp.wrp
                +e.title.h2 История компании
                +e.tabs-block
                    +e.tab-item.active(data-tab="1")
                        +e.SPAN.year 2009
                        +e.SPAN.num 1
                    +e.tab-item(data-tab="2")
                        +e.SPAN.year 2010
                        +e.SPAN.num 2
                    +e.tab-item(data-tab="3")
                        +e.SPAN.year 2011
                        +e.SPAN.num 3
                    +e.tab-item(data-tab="4")
                        +e.SPAN.year 2012
                        +e.SPAN.num 4
                    +e.tab-item(data-tab="5")
                        +e.SPAN.year 2018
                        +e.SPAN.num 5
                +e.cont-block
                    +e.cont.active(data-content="1")
                        +e.text-block
                            p Жилой комплекс «Фрегат 2» - это масштабный проект, состоящий из 10 односекционных 25-ти этажных домов, выполненных в едином стиле, но отличающихся некоторыми элементами фасадов. Реализация проекта рассчитана на 5 лет.
                            br
                            br
                            p Площадь застройки участка составляет 8,2 Га.
                            p Строительство началось в мае 2016 года.
                            br
                            br
                            p Проектом предусмотрено обязательное благоустройство придомовой территории, создание локаций отдыха для жителей комплекса всех возрастов. Жилой комплекс «Фрегат 2» - это масштабный проект, состоящий из 10 односекционных.
                        +e.FIGURE.img-block
                            div(style="background-image: url(img/about-hero.jpg);)")
                    +e.cont(data-content="2")
                        +e.text-block
                            p МНОГО ТЕКСТА Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores cum deserunt dolorum eveniet ex, fugit hic id laudantium nesciunt nulla odio officiis qui repellat sint totam veniam voluptates. Aliquid amet aspernatur consectetur ea eaque eum exercitationem, facere fugiat impedit, inventore iusto nisi numquam porro, sapiente suscipit tenetur totam. Asperiores atque aut commodi dolores earum et eum excepturi expedita, hic inventore nesciunt quasi reiciendis repellat repellendus sed similique sint, suscipit tenetur velit veniam vero voluptate voluptatem? Beatae, eius, pariatur. Animi cumque dolores expedita fugiat officia quidem rerum sequi. Asperiores autem blanditiis dolore doloremque enim excepturi illo, itaque iusto maiores mollitia nesciunt non odio officia praesentium qui, quisquam saepe suscipit ut, veritatis voluptates? Accusantium aliquid consequatur, consequuntur culpa debitis dolores eius eligendi expedita, inventore laboriosam molestiae natus nihil omnis quisquam quo quos repellendus reprehenderit rerum saepe sit sunt totam voluptate voluptates? Placeat repudiandae, saepe. Alias aliquid aspernatur aut blanditiis doloribus eos et excepturi expedita inventore ipsam ipsum laborum libero maiores modi natus nemo neque nobis numquam praesentium quidem quos recusandae sapiente sed sequi sit suscipit, vero voluptatibus! Aspernatur beatae consequuntur dolor harum, illum, itaque laboriosam libero minus molestias mollitia quaerat quis quisquam rem sapiente sunt tempore totam ullam. Alias animi consequatur delectus dicta dolorum, eius ex harum in incidunt iure labore, laboriosam libero molestias, necessitatibus non obcaecati quaerat recusandae saepe voluptate voluptatem. A ad architecto commodi dolore eaque eum fuga illo illum iste itaque laboriosam maxime nemo officiis quia, rem reprehenderit sunt. Adipisci aliquam, aperiam architecto asperiores aut blanditiis delectus deserunt dignissimos eaque et ex expedita facere harum incidunt laudantium libero nam officiis omnis quas, quibusdam quis quod repellendus sint totam vel veniam vero voluptatum. Ab accusamus accusantium ad animi blanditiis consequuntur deserunt, doloribus earum eius ex facere harum impedit molestiae molestias nam neque, nihil odio optio quas qui ratione repellat rerum suscipit temporibus voluptatem. Accusamus accusantium, aliquid animi consequatur deleniti dolorem dolorum et magni maiores mollitia nobis omnis pariatur perferendis quam quas quasi quibusdam quo rerum soluta tempore, temporibus ullam, voluptate voluptatibus? Animi asperiores cum doloribus esse iste laborum modi, obcaecati pariatur, placeat tempora ullam, voluptate? Et fugiat in, libero pariatur qui quo reprehenderit tempore totam voluptatum! Adipisci aspernatur, cum dicta doloremque et laboriosam minima numquam odio odit officiis vero voluptates. Consectetur corporis excepturi iusto magni necessitatibus quae quibusdam quo repudiandae suscipit voluptate. Ad doloremque ea id ipsa officia porro quia, ratione vero. Adipisci dolore dolorum est quisquam repellendus voluptate. Accusamus dolores eaque nesciunt, nobis rem repellendus voluptas? Amet beatae consequuntur cum cumque delectus distinctio eligendi fuga incidunt maiores molestiae necessitatibus nihil non pariatur porro quae, quas quidem quod reiciendis totam vel. Accusamus accusantium animi aperiam atque cumque deleniti distinctio doloribus ea eius eveniet excepturi exercitationem explicabo id illum minus modi molestiae nam nesciunt officiis optio, placeat quam rem repellendus repudiandae saepe similique sint soluta tempora tenetur ut vitae voluptate voluptates voluptatibus. Accusantium porro praesentium quam saepe temporibus? Ab assumenda atque deleniti, dignissimos ea earum enim esse eveniet expedita molestias, optio placeat praesentium quam reiciendis repellendus repudiandae ullam voluptate voluptatum.
                        +e.FIGURE.img-block
                            div(style="background-image: url(img/about-hero.jpg);)")
                    +e.cont(data-content="3") content 3
                    +e.cont(data-content="4") content 4
                    +e.cont(data-content="5") content 5

        // history end



















    include ../../components/footer/footer