extends ../template

block variables
    - var title = 'About-Fregat'

block content

    - var aboutFegatBtn = ["1","2","3","4","5","6","7","8","9","10"]

    +header()(class="transp")

    +b.MAIN.about-fregat.main

        +e.hero
            +e.hero-wrp.wrp
                figure(style="background-image: url(img/sunset.jpg);)")
                +b.DIV.breadcrumbs
                    a(href="/") Главная
                    i /
                    a О ЖК Фрегат 2
                +e.hero-title.h1 О застройщике
                +e.P.hero-text Жилой комплекс «Фрегат 2» - это масштабный проект, состоящий из 10 односекционных 25-ти этажных домов, выполненных в едином стиле, но отличающихся некоторыми элементами фасадов. Реализация проекта рассчитана на 5 лет

        +b.SECTION.about-fregat-buttons
            +e.wrp.wrp
                +e.title.h2 Участок
                +e.P.text На площади более 8 гектар разместятся 10 современных монолитно-кирпичных домов комфорт-класса, выполненных в едином стиле
                +e.btn-block
                    +e.UL.list
                        each item in aboutFegatBtn
                            +e.LI.item
                                +e.A.link(href="single-house.html")
                                    +e.lil-title.h3= `Дом №${item}`
                                    +e.SPAN.decor= `№${item}`

        // main cont

        +b.SECTION.about-fregat-content
            +e.wrp.wrp
                +e.lev
                    +e.item_tl
                        +e.title.h2 Вся необходимая инфраструктура в шаговой доступности
                        +e.content.html
                            ul
                                li Школа
                                li Поликлиника
                                li Спортзалы
                                li Детские сады
                                li Магазины
                                li Спортзалы
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство будут украшать живые изгороди, а также газоны с цветами и декоративными травами, созданные в соответствии с новейшими тенденциями ландшафтного дизайна
                    +e.item
                        +e.FIGURE.img-block
                            img(src="img/works-big.jpg")

                +e.lev
                    +e.item
                        +e.FIGURE.img-block
                            img(src="img/works-big.jpg")
                    +e.item_tr
                        +e.title.h2 Вся необходимая инфраструктура в шаговой доступности
                        +e.content.html
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство будут украшать живые изгороди, а также газоны с цветами и декоративными травами, созданные в соответствии с новейшими тенденциями ландшафтного дизайна
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство будут украшать живые изгороди, а также газоны с цветами и декоративными травами, созданные в соответствии с новейшими тенденциями ландшафтного дизайна
                            ul
                                li Школа
                                li Поликлиника
                                li Спортзалы
                                li Детские сады
                                li Магазины
                                li Спортзалы

                +e.lev
                    +e.item_tl
                        +e.title.h2 Вся необходимая инфраструктура в шаговой доступности
                        +e.content.html
                            ul
                                li Школа
                                li Поликлиника
                                li Спортзалы
                                li Детские сады
                                li Магазины
                                li Спортзалы
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство будут украшать живые изгороди, а также газоны с цветами и декоративными травами, созданные в соответствии с новейшими тенденциями ландшафтного дизайна
                    +e.item
                        +e.FIGURE.img-block
                            img(src="img/works-big.jpg")

                +e.lev
                    +e.item
                        +e.FIGURE.img-block
                            img(src="img/works-big.jpg")
                    +e.item_tr
                        +e.title.h2 Вся необходимая инфраструктура в шаговой доступности
                        +e.content.html
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство
                +e.lev
                    +e.item_tl
                        +e.title.h2 Вся необходимая инфраструктура в шаговой доступности
                        +e.content.html
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство
                        +e.A.link.btn_white(href="#") Подробнее
                    +e.item
                        +e.FIGURE.img-block
                            img(src="img/works-big.jpg")
                +e.lev
                    +e.item
                        +e.FIGURE.img-block
                            img(src="img/works-big.jpg")
                    +e.item_tr
                        +e.title.h2 Вся необходимая инфраструктура в шаговой доступности
                        +e.content.html
                            p
                            | Реализован масштабный проект
                            sup *
                            | озеленения территории жилого комплекса. Пространство
                            p Реализован масштабный проект озеленения территории жилого комплекса. Пространство
                            p
                                | (
                                sup *
                                | ) - озеленения территории жилого комплекса. Пространство

    include ../../components/footer/footer