extends ../template

block variables
    - var title = 'About'

block content

    +header()(class="transp")

    +b.MAIN.about.main

        +e.hero
            +e.hero-wrp.wrp
                figure(style="background-image: url(img/about-hero.jpg);)")
                +b.DIV.breadcrumbs
                    a(href="/") Главная
                    i /
                    a О застройщике
                +e.hero-title.h1 О застройщике
                +e.P.hero-text Жилой комплекс «Фрегат 2» - это масштабный проект, состоящий из 10 односекционных 25-ти этажных домов, выполненных в едином стиле, но отличающихся некоторыми элементами фасадов. Реализация проекта рассчитана на 5 лет

        // history

        +b.SECTION.history
            +e.wrp.wrp
                +e.title.h2 История компании
                +e.years-block
                    span 2009
                    span 2010
                    span 2011
                    span 2012
                    span 2018
                +e.dots-block
                    .swiper-pagination
                +e.slider
                    .swiper-wrapper
                        +e.slide.swiper-slide
                            +e.cont
                                +e.text-block
                                    p Жилой комплекс «Фрегат 2» - это масштабный проект, состоящий из 10 односекционных 25-ти этажных домов, выполненных в едином стиле, но отличающихся некоторыми элементами фасадов. Реализация проекта рассчитана на 5 лет.
                                    br
                                    br
                                    p Площадь застройки участка составляет 8,2 Га.
                                    p Строительство началось в мае 2016 года.
                                    br
                                    br
                                    p Проектом предусмотрено обязательное благоустройство придомовой территории, создание локаций отдыха для жителей комплекса всех возрастов. Жилой комплекс «Фрегат 2» - это масштабный проект, состоящий из 10 односекционных.
                                +e.FIGURE.img-block
                                    img(src="img/works-big.jpg")
                        +e.slide.swiper-slide
                            +e.cont
                                +e.text-block
                                    p МНОГО ТЕКСТА Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores cum deserunt dolorum eveniet ex, fugit hic id laudantium nesciunt nulla odio officiis qui repellat sint totam veniam voluptates. Aliquid amet aspernatur consectetur ea eaque eum exercitationem, facere fugiat impedit, inventore iusto nisi numquam porro, sapiente suscipit tenetur totam. Asperiores atque aut commodi dolores earum et eum excepturi expedita, hic inventore nesciunt quasi reiciendis repellat repellendus sed similique sint, suscipit tenetur velit veniam vero voluptate voluptatem? Beatae, eius, pariatur. Animi cumque dolores expedita fugiat officia quidem rerum sequi. Asperiores autem blanditiis dolore doloremque enim excepturi illo, itaque iusto maiores mollitia nesciunt non odio officia praesentium qui, quisquam saepe suscipit ut, veritatis voluptates? Accusantium aliquid consequatur, consequuntur culpa debitis dolores eius eligendi expedita, inventore laboriosam molestiae natus nihil omnis quisquam quo quos repellendus reprehenderit rerum saepe sit sunt totam voluptate voluptates? Placeat repudiandae, saepe. Alias aliquid aspernatur aut blanditiis doloribus eos et excepturi expedita inventore ipsam ipsum laborum libero maiores modi natus nemo neque nobis numquam praesentium quidem quos recusandae sapiente sed sequi sit suscipit, vero voluptatibus! Aspernatur beatae consequuntur dolor harum, illum, itaque laboriosam libero minus molestias mollitia quaerat quis quisquam rem sapiente sunt tempore totam ullam. Alias animi consequatur delectus dicta dolorum, eius ex harum in incidunt iure labore, laboriosam libero molestias, necessitatibus non obcaecati quaerat recusandae saepe voluptate voluptatem. A ad architecto commodi dolore eaque eum fuga illo illum iste itaque laboriosam maxime nemo officiis quia, rem reprehenderit sunt. Adipisci aliquam, aperiam architecto asperiores aut blanditiis delectus deserunt dignissimos eaque et ex expedita facere harum incidunt laudantium libero nam officiis omnis quas, quibusdam quis quod repellendus sint totam vel veniam vero voluptatum. Ab accusamus accusantium ad animi blanditiis consequuntur deserunt, doloribus earum eius ex facere harum impedit molestiae molestias nam neque, nihil odio optio quas qui ratione repellat rerum suscipit temporibus voluptatem. Accusamus accusantium, aliquid animi consequatur deleniti dolorem dolorum et magni maiores mollitia nobis omnis pariatur perferendis quam quas quasi quibusdam quo rerum soluta tempore, temporibus ullam, voluptate voluptatibus? Animi asperiores cum doloribus esse iste laborum modi, obcaecati pariatur, placeat tempora ullam, voluptate? Et fugiat in, libero pariatur qui quo reprehenderit tempore totam voluptatum! Adipisci aspernatur, cum dicta doloremque et laboriosam minima numquam odio odit officiis vero voluptates. Consectetur corporis excepturi iusto magni necessitatibus quae quibusdam quo repudiandae suscipit voluptate. Ad doloremque ea id ipsa officia porro quia, ratione vero. Adipisci dolore dolorum est quisquam repellendus voluptate. Accusamus dolores eaque nesciunt, nobis rem repellendus voluptas? Amet beatae consequuntur cum cumque delectus distinctio eligendi fuga incidunt maiores molestiae necessitatibus nihil non pariatur porro quae, quas quidem quod reiciendis totam vel. Accusamus accusantium animi aperiam atque cumque deleniti distinctio doloribus ea eius eveniet excepturi exercitationem explicabo id illum minus modi molestiae nam nesciunt officiis optio, placeat quam rem repellendus repudiandae saepe similique sint soluta tempora tenetur ut vitae voluptate voluptates voluptatibus. Accusantium porro praesentium quam saepe temporibus? Ab assumenda atque deleniti, dignissimos ea earum enim esse eveniet expedita molestias, optio placeat praesentium quam reiciendis repellendus repudiandae ullam voluptate voluptatum.
                                +e.FIGURE.img-block
                                    img(src="img/works-big.jpg")
                        +e.slide.swiper-slide
                            +e.cont
                                +e.text-block
                                    p Мало текста
                                +e.FIGURE.img-block
                                    img(src="img/works-big.jpg")
                        +e.slide.swiper-slide
                            +e.cont
                                +e.text-block
                                    p slide 4
                                +e.FIGURE.img-block
                                    img(src="img/works-big.jpg")
                        +e.slide.swiper-slide
                            +e.cont
                                +e.text-block
                                    p slide 5
                                +e.FIGURE.img-block
                                    img(src="img/works-big.jpg")

        // certificate

        +b.SECTION.certificate
            +e.wrp.wrp
                +e.title-block
                    +e.title.h2 Наши сертификаты
                    +e.arrs.arrs
                        +e.btn-prev
                            img(src="img/arr-prev.svg")
                        +e.btn-next
                            img(src="img/arr-next.svg")

                +e.slider
                    .swiper-wrapper
                        +e.slide.swiper-slide
                            img(src="img/cert.jpg")
                        +e.slide.swiper-slide
                            img(src="img/cert.jpg")
                        +e.slide.swiper-slide
                            img(src="img/cert.jpg")
                        +e.slide.swiper-slide
                            img(src="img/cert.jpg")
                        +e.slide.swiper-slide
                            img(src="img/cert.jpg")
                        +e.slide.swiper-slide
                            img(src="img/cert.jpg")

        // about-info-block

        +b.SECTION.about-info-block
            +e.wrp.wrp
                +e.lev
                    +e.item
                        +e.text-block
                            +e.title.h2 Благотворительность
                            +e.content.html
                                p Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют определения и уточнения соответствующий условий активизации. Равным образом сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации.
                                p Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Товарищи! дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий.
                                p Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям
                    +e.item_m
                        +e.FIGURE.img-block
                            img(src="img/works-big.jpg")
                +e.lev_mid
                    +e.item_m
                        +e.text-block
                            +e.title.h2 Приглашаем к сотрудничеству
                            +e.content.html
                                p Выбор надежных партнеров для нас – одна из ключевых задач, ведь от качества построенного жилья зависит и качество жизни жителей в наших домах.
                                p Процесс отбора подрядчиков базируется на принципе честной конкуренции. В ходе нашей работы мы сталкиваемся с разными задачами от строительно-монтажных до благотворительных, поэтому рассматриваем очень тщательно все предложения о сотрудничестве.
                                p Будущие партнеры, для вашего удобства предлагаем заполнить форму. Получение первичной информации от вас поможет нам определиться о способах будущего взаимодействия.
                                p Выбор надежных партнеров для нас – одна из ключевых задач, ведь от качества построенного жилья зависит и качество жизни жителей в наших домах.
                                p Процесс отбора подрядчиков базируется на принципе честной конкуренции. В ходе нашей работы мы сталкиваемся с разными задачами от строительно-монтажных до благотворительных, поэтому рассматриваем очень тщательно все предложения о сотрудничестве.
                                p Будущие партнеры, для вашего удобства п

                            +e.A.link.btn_white(href="#") Заполнить форму
                    +e.item
                        +e.FIGURE.img-block
                            img(src="img/works-big.jpg")

                +e.lev
                    +e.item
                        +e.text-block
                            +e.title.h2 Благотворительный фонд МойМио
                            +e.content.html
                                p По мимо основной деятельности мы принимаем участие в благотворительных мероприятиях.
                                p Наша команда на постоянной основе сотрудничает с фондом «Мой Мио». Фонд оказывает помощь и поддержку детям с очень редким и тяжелым заболеванием – миодистрофией Дюшенна.
                                p «МойМио» первый фонд, который поддерживает семьи и детей, вынужденных бороться с этой страшной болезнью.
                                p Для тех, кто готов помочь фонду, создана специальная страничка «Помочь» на сайте фонда.
                            +e.SPAN.blue-text Если вам нужна помощь фонда, напишите нам в форме обратной связи или позвоните по телефону: 202-50-09.
                    +e.item_m
                        +e.FIGURE.img-block
                            img(src="img/works-big.jpg")

    include ../../components/footer/footer