extends ../template

block variables
    - var title = 'Blog'

block content

    mixin blogItem()
        +e.LI.item
            +e.FIGURE.img-block
                img(src="img/works-big.jpg")
            +e.text-block
                +e.lil-title Задача организации, в особенности начало повседневной работы
                +e.P.text Задача организации, в особенности начало повседневной работы по формированию позиции в значительной степени ...
                +e.bottom
                    +e.SPAN.date 15 августа 2018
                    +e.nums-block
                        +e.nums-item
                            +icon("eye")
                            span 34
                        +e.nums-item
                            +icon("clouds")
                            span 34

    +header()(class='col-sky')

    +b.MAIN.blog.main
        +e.wrp.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                i /
                a Блог
            +e.title.h1 Блог
            +e.cont
                +e.content-block
                    +e.UL.list
                        +e.LI.item
                            +e.FIGURE.img-block
                                img(src="img/works-big.jpg")
                            +e.text-block
                                +e.lil-title Задача организации, в особенности начало повседневной работы
                                +e.P.text  много текста Задача организации, в осоЗадача организации, в осизации, в осоЗадача организации, в особизации, в осоЗадача организации, в особизации, в осоЗадача организации, в особизации, в осоЗадача организации, в особизации, в осоЗадача организации, в особобенности начало повседневной работы по формЗадача организации, в особенности начало повсЗадача организации, в особенности начало повседневной работы по формедневной работы по формЗадача организации, в особенности начало повседневной работы по формбенности начало повседневной работы по формированию позиции в значительной степени
                                +e.bottom
                                    +e.SPAN.date 15 августа 2018
                                    +e.nums-block
                                        +e.nums-item
                                            +icon("eye")
                                            span 34
                                        +e.nums-item
                                            +icon("clouds")
                                            span 34
                        +blogItem()
                        +blogItem()
                        +blogItem()
                        +blogItem()
                        +blogItem()

                    include ../../components/pagination/pagination

                +e.side-block
                    include ../../components/side-block/side-block

    include ../../components/footer/footer