extends ../template

block variables
    - var title = 'Buy'

block content

    +header()(class='col-sky')

    +b.MAIN.buy.main
        +e.wrp.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                i /
                a Как купить
            +e.cont
                +e.text-block
                    +e.title.h1 Как купить
                    +e.content.html
                        p Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке модели развития. Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
                        p Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке форм развития. Равным образом укрепление и развитие структуры позволяет оценить значение направлений прогрессивного развития.
                        p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации новых предложений.
                +e.FIGURE.img-block
                    img(src="img/tv-buy.jpg")
            +e.UL.list
                +e.LI.item
                    +e.svg
                        +icon("check")
                    +e.b-text-block
                        +e.SPAN.b-title 100% оплата
                        +e.P.b-text Подбор квартир в новостройках Фрегат 2 на старте продаж — экономия более 500 000 р при покупке
                +e.LI.item
                    +e.svg
                        +icon("check")
                    +e.b-text-block
                        +e.SPAN.b-title Материнский капитал
                        +e.P.b-text Материнский капитал можно использовать в качестве первоначального взноса при покупке жилья в ипотеку
                +e.LI.item
                    +e.svg
                        +icon("check")
                    +e.b-text-block
                        +e.SPAN.b-title В рассрочку
                        +e.P.b-text
                            | Продажа квартир в рассрочку предоставляется без процентов на срок до 48 месяцев, в зависимости от условий реализации на объекте.
                            span Первый взнос - 30%
                +e.LI.item
                    +e.svg
                        +icon("check")
                    +e.b-text-block
                        +e.SPAN.b-title В рассрочку
                        +e.P.b-text Специальные ставки на объекты ООО «Жилкапинвест» в большинстве ведущих банков России

    include ../../components/footer/footer