extends ../template

block variables
    - var title = 'Contacts'

block content

    +header()(class='col-sky')

    +b.MAIN.contacts-page.main
        +e.wrp.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                i /
                a Контакты
            +e.title.h1 Контакты
            +e.items-block
                +e.item
                    +icon("mark")
                    +e.text-block
                        +e.SPAN.lil-title Адрес объекта:
                        p ул.Ватутина, 4В, секция 5, офис 9
                +e.item
                    +icon("clock")
                    +e.text-block
                        +e.SPAN.lil-title Bремя:
                        p Пн-Чт: 09:00 - 20:00
                        p Пт: 09:00 - 19:30
                +e.item
                    +icon("phone")
                    +e.text-block
                        +e.SPAN.lil-title Телефон:
                        a(href="tel:84232025009") 8(423) 202-50-09
                +e.item
                    +icon("mail")
                    +e.text-block
                        +e.SPAN.lil-title Почта:
                        a(href="mailto:info@fregat2.ru") info@fregat2.ru
        +e.form-block(style="background-image: url(img/waves-bg.jpg);")
            +e.cont.wrp
                +e.FORM.form.contacts-page-form(data-url="/")
                    +e.form-title.h2 Свяжитесь с нами
                    +e.form-text Введите свои данные и мы перезвоним вам!
                    input(type="hidden" value="Свяжитесь с нами:")
                    +e.INPUT.inp.inp.inp-text(type="text" name="Имя:" placeholder="Имя" autocomplete="off")
                    +e.INPUT.inp.inp.inputmask(type="text" name="Телефон:" placeholder="Телефон" autocomplete="off")
                    +e.BUTTON.btn.btn(type="submit") Отправить
                +e.images-block
                    +e.FIGURE.img-block(style="background-image: url(img/oksana.jpg);")
                        +e.SPAN.mask
                        +e.SPAN.name Оксана Хорошун
                        +e.SPAN.img-text менеджер отдела продаж
                    +e.FIGURE.img-block(style="background-image: url(img/irina.jpg);")
                        +e.SPAN.mask
                        +e.SPAN.name Ирина Степанюк
                        +e.SPAN.img-text руководитель отдела продаж

        +e.map#map(data-zoom="10" data-lat="59.931632" data-lon="30.336528" data-latmark="59.931551" data-lonmark="30.336528" data-balloon="ул.Ватутина, 4В, секция 5, офис 9")

    include ../../components/footer/footer

block map

    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script.
        ymaps.ready(init);

        let myMap;
        let el = document.getElementById('map').dataset;

        function init() {
            myMap = new ymaps.Map("map", {
                center: [el.lat, el.lon],
                zoom: el.zoom
            });

            let myPlacemark = new ymaps.Placemark([el.latmark, el.lonmark], {}, {
                iconLayout: 'default#image',
                iconImageHref: '/img/map-mark.svg',
                iconImageSize: [30, 30],
                iconImageOffset: [-13, 0],
                hintContent: '',
                balloonContent: ''
            });

            myMap.geoObjects.add(myPlacemark);

            // myMap.balloon.open([el.latmark, el.lonmark], el.balloon, {
            //     closeButton: false
            // });

            myMap.controls
                .remove('Button')
                .remove('fullscreenControl')
                .remove('typeSelector')
                .remove('geolocationControl')
                .remove('searchControl')
                .remove('trafficControl')
                .remove('rulerControl')
                .remove('zoomControl');

            myMap.behaviors.disable([
                'scrollZoom',
                'multiTouch',
                'drag'
            ]);
        }