extends ../template

block variables
    - var title = 'Home page'

block content

    +header()

    +b.MAIN.main.home-page
        include ../../components/hero/hero
        include ../../components/info/info
        include ../../components/about-slider/about-slider
        include ../../components/excursion/excursion

    include ../../components/footer/footer
