extends ../template

block variables
    - var title = 'Home page'

block content

    +header()

    +b.MAIN.home-page.main
        include ../../components/hero/hero
        include ../../components/info/info
        include ../../components/about-slider/about-slider
        include ../../components/excursion/excursion
        include ../../components/info2/info2
        include ../../components/pick-flat/pick-flat
        include ../../components/tour-3d/tour-3d
        include ../../components/course-sliders/course-sliders
        include ../../components/callback/callback1
        include ../../components/info3/info3
        include ../../components/calc/calc
        include ../../components/about-block/about-block
        include ../../components/works/works
        include ../../components/callback/callback2
        include ../../components/review/review

        include ../../components/news/news

        include ../../components/contacts-block/contacts-block

    +b.FOOTER.footer
        +b.header.in-footer.col-white
            +e.wrp.wrp
                +e.logo-block
                    +e.A.logo-link(href="/")
                        +e.IMG.img(src="img/logo-text.png")
                        +e.IMG.img_no-text(src="img/logo.png")
                +e.nav-block
                    +b.header-top
                        +e.NAV.nav
                            +e.UL.list
                                +e.LI.item_phone
                                    a(href="tel:84232025009") 8 (423) 202-50-09
                                each item in headerNavTop
                                    +e.LI.item_link
                                        a(href=`${item.link}`)= item.text
                        +e.UL.list
                            each item in headerSocials
                                +e.LI.item_social
                                    a(href=`${item.link}`)
                                        +icon(item.icon)
                    +b.header-bottom
                        +e.NAV.nav
                            +e.UL.list
                                each item in headerNavBottom
                                    +e.LI.item
                                        a(href=`${item.link}`)= item.text
        +e.bottom.col-gray
            +e.wrp.wrp
                +e.A.policy(href="privacy-policy.html") Политика конфиденциальности
                +e.A.markello(href="https://markello.ru/" target="_blank")
                    +e.IMG.img(src="img/markello.png")
                    +e.SPAN.text made this love

block map

    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script.
        ymaps.ready(init);

        let myMap;
        let el = document.getElementById('map').dataset;

        function init() {
            myMap = new ymaps.Map("map", {
                center: [el.lat, el.lon],
                zoom: el.zoom
            });

            let myPlacemark = new ymaps.Placemark([el.latmark, el.lonmark], {}, {
                iconLayout: 'default#image',
                iconImageHref: '/img/map-mark.svg',
                iconImageSize: [30, 30],
                iconImageOffset: [-13, 0],
                hintContent: '',
                balloonContent: ''
            });

            myMap.geoObjects.add(myPlacemark);

            // myMap.balloon.open([el.latmark, el.lonmark], el.balloon, {
            //     closeButton: false
            // });

            myMap.controls
                .remove('Button')
                .remove('fullscreenControl')
                .remove('typeSelector')
                .remove('geolocationControl')
                .remove('searchControl')
                .remove('trafficControl')
                .remove('rulerControl')
                .remove('zoomControl');

            myMap.behaviors.disable([
                'scrollZoom',
                'multiTouch',
                'drag'
            ]);
        }
