extends ../template

block variables
    - var title = 'Home page'

block content

    +header()

    +b.MAIN.main.home-page
        include ../../components/hero/hero
        include ../../components/info/info
        include ../../components/about-slider/about-slider
        include ../../components/excursion/excursion
        include ../../components/info2/info2
        include ../../components/pick-flat/pick-flat
        include ../../components/tour-3d/tour-3d
        include ../../components/course-sliders/course-sliders
        include ../../components/callback/callback1
        include ../../components/info3/info3
        include ../../components/calc/calc
        include ../../components/about-block/about-block
        include ../../components/works/works
        include ../../components/callback/callback2
        include ../../components/review/review
        include ../../components/news/news
        include ../../components/contacts-block/contacts-block

    include ../../components/footer/footer
