extends ../template

block variables
    - var title = 'News'

block content

    +header()(class='col-sky')

    +b.MAIN.news-page.main
        +e.wrp.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                i /
                a СМИ о нас
            +e.title.h1 СМИ о нас

    include ../../components/footer/footer
