extends ../template

block variables
    - var title = 'News'

block content

    mixin newsItem()
        +e.LI.item
            +e.A.link(href="single-news.html")
                +e.SPAN.date 15 августа 2018
                +e.DIV.lil-title Задача организации, в особенности начало повседневной работы
                +e.P.text Задача организации, в особенности начало повседневной работы по формированию пози Задача организации, в особенности начало повседневной работы по формированию пози Задача организации, в особенности начало повседневной работы по формированию пози

    +header()(class='col-sky')

    +b.MAIN.news-page.main
        +e.wrp.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                i /
                a СМИ о нас
            +e.title.h1 СМИ о нас
            +e.cont
                +e.content-block
                    +e.UL.list
                        +newsItem()
                        +newsItem()
                        +newsItem()
                        +newsItem()
                        +newsItem()
                        +newsItem()
                        +newsItem()

                    include ../../components/pagination/pagination

                +e.side-block
                    include ../../components/side-block/side-block

    include ../../components/footer/footer
