extends ../template

block variables
    - var title = 'Review'

block content

    +header()(class='col-sky')

    +b.MAIN.review-page.main
        +e.wrp.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                i /
                a Отзывы
            +e.title.h1 Отзывы
            +e.cont
                +e.content-block
                    +e.UL.list
                        +e.LI.item
                            +e.FIGURE.img-block
                                img(src="img/client.jpg")
                            +e.info-block
                                +e.name АЛЕКСАНДР СТАРОСТИН
                                +e.SPAN.date 15 августа 2018
                                +e.P.text Задача организаадача организации, в особенности же начало повседневной работы по формированию позиции в значиадача организации, в особенности же начало повседневной работы по формированию позиции в значиадача организации, в особенности же начало повседневной работы по формированию позиции в значиции, в особенности же начало повседневной работы по формированию позиции в значительной степени обуславливает создание существенных финансовых и административных условий. Таким образом рамки и место обучения кадров требуют от нас анализа дальнейших направлений развития. Спасибо!
                        +e.LI.item
                            +e.FIGURE.img-block
                                img(src="img/client.jpg")
                            +e.info-block
                                +e.name АЛЕКСАНДР СТАРОСТИН
                                +e.SPAN.date 15 августа 2018
                                +e.P.text Задача организации, в особенности же начало повседневной работы по формированию позиции в значительной степени обуславливает создание существенных финансовых и административных условий. Таким образом рамки и место обучения кадров требуют от нас анализа дальнейших направлений развития. Спасибо!
                        +e.LI.item
                            +e.FIGURE.img-block
                                img(src="img/client.jpg")
                            +e.info-block
                                +e.name АЛЕКСАНДР СТАРОСТИН
                                +e.SPAN.date 15 августа 2018
                                +e.P.text Задача организации, в особенности же начало повседневной работы по формированию позиции в значительной степени обуславливает создание существенных финансовых и административных условий. Таким образом рамки и место обучения кадров требуют от нас анализа дальнейших направлений развития. Спасибо!
                    +e.load-btn-block
                        +e.A.load-btn загрузить ещё
                +e.form-block
                    +e.form-title.h2 Оставьте свой отзыв о сотрудничестве с нами
                    +e.FORM.form.form-review(data-url="/")
                        input(type="hidden" value="Отзыв")
                        +e.INPUT.inp.inp.inp-text(type="text" name="Имя:" placeholder="Ваше имя" autocomplete="off")
                        +e.TEXTAREA.textarea.textarea.inp-text(type="text" name="Отзыв:" placeholder="Напишите ваш отзыв" autocomplete="off")
                        +e.BUTTON.btn.btn(type="submit") Отправить

    include ../../components/footer/footer
