extends ../template

block variables
    - var title = 'Blog'

block content

    +header()(class='col-sky')

    +b.MAIN.single-blog.main
        +e.wrp.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                i /
                a(href="blog.html") Блог
                i /
                a Новый корус в ЖК Фрегат 2 откроется
            +e.title.h1 Новый корус в ЖК Фрегат 2 откроется

            +e.cont
                +e.content-block
                    +e.top
                        +e.FIGURE.top-img-block
                            img(src="img/works-big.jpg")
                        +e.top-info
                            +e.nums-block
                                +e.date 15 августа 2018
                                +e.nums-item
                                    +icon("eye")
                                    span 34
                                +e.nums-item
                                    +icon("clouds")
                                    span 34
                            +e.A.top-btn.btn_white(href="#") поделиться
                    +e.content.html
                        p
                            | ООО «Жилкапинвест» с 2004 года успешно работает на строительном рынке России и ближнего зарубежья и с самого начала зарекомендовала себя как стабильная, динамично развивающаяся компания, осуществляющая весь спектр строительных услуг. Накопленный в течение 12-ти лет опыт позволяет компании решать практически любые задачи в области организационно-технологического обеспечения, строительства на протяжении всего цикла работ. В своей деятельности ООО «Жилкапинвест» стремится к достижению лучших результатов как для клиентов и партнеров компании, так и для развития собственного бизнеса.
                            a Для тех, кто не готов
                            | ждать окончания ремонта и планирует заселение сразу.
                        blockquote
                            p ООО «Жилкапинвест» с 2004 года успешно работает на строительном рынке России и ближнего зарубежья и с самого начала зарекомендовала себя как стабильная, динамично развивающаяся компания, осуществляющая весь спектр строительных услуг. Накопленный в течение 12-ти лет опыт позволяет компании решать практически любые задачи в области организационно-технологического обеспечения, строительства на протяжении всего цикла работ. В своей деятельности ООО «Жилкапинвест» стремится к достижению лучших результатов как для клиентов и партнеров компании, так и для развития собственного бизнеса.
                            div АЛЕКСАНДР СТАРОСТИН
                            span Психолог, инструктор по йоге
                    +e.content-title.h2 Сроки строительства 1 неделя
                    +e.content.html
                        p Накопленный в течение 12-ти лет опыт позволяет компании решать практически любые задачи в области организационно-технологического обеспечения, строительства на протяжении всего цикла работ.
                        p В своей деятельности ООО «Жилкапинвест» стремится к достижению лучших результатов как для клиентов и партнеров компании, так и для развития собственного бизнеса.
                        p Для тех, кто не готов ждать окончания ремонта и планирует заселение сразу после ввода дома в эксплуатацию, в ЖК Фрегат 2 предусмотрены квартиры с готовой отделкой высококачественными материалами в современном стиле и в одном из двух цветовых вариантов. Вы можете посетить наш шоу-рум, чтобы ознакомится с качеством отделки.
                        ul
                            li Это спальный район с развитой инфраструктурой.
                            li Это спальный район с развитой инфраструктурой.
                            li Это спальный район с развитой инфраструктурой.
                    +e.img-block
                        img(src="img/works-big.jpg")
                    +e.content-title.h2 Сроки строительства 1 неделя
                    +e.content.html
                        p Накопленный в течение 12-ти лет опыт позволяет компании решать практически любые задачи в области организационно-технологического обеспечения, строительства на протяжении всего цикла работ.
                        table
                            tr
                                th text1
                                th text1
                                th text1
                            tr
                                td text1
                                td text1 text1te text1text1 text1text1 table-layout: fixed text1te text1text1 text1text1 table-layout: fixed
                                td text1
                            tr
                                td text1
                                td text1
                                td text1

                    +e.A.video-link.play(href="https://www.youtube.com/watch?v=cUYSGojUuAU")
                        img(src="img/works-big.jpg")
                        +e.SPAN.decor
                        +e.SPAN.mask
                    +e.likes-block
                        +e.likes-text-block
                            +e.SPAN.likes-title.h3 Вам была интересна эта статья?
                            +e.A.likes-item
                                +icon("like")
                                span 34
                            +e.A.likes-item_dis
                                +icon("dislike")
                                span 0
                        +e.A.likes-btn.btn_white(href="#") поделиться
                    +e.comment-block
                        img(src="img/comment.jpg")
                    +e.simular-block
                        +e.simular-item
                            +e.A.link(href="single-blog.html")
                                +e.FIGURE.img-block
                                    img(src="img/works-big.jpg")
                                +e.DIV.text-block
                                    +e.DIV.lil-title Задача организации, в особенности начало повседневной работы
                                    +e.P.text Задача организации, в особенности начало повседневной работы по формированию позиции в значительной степени ...
                                    +e.bottom
                                        +e.SPAN.date 15 августа 2018
                                        +e.nums-block
                                            +e.nums-item
                                                +icon("eye")
                                                span 34
                                            +e.nums-item
                                                +icon("clouds")
                                                span 34
                        +e.simular-item
                            +e.A.link(href="single-blog.html")
                                +e.FIGURE.img-block
                                    img(src="img/works-big.jpg")
                                +e.DIV.text-block
                                    +e.DIV.lil-title Задача организации, в особенности начало повседневной работы
                                    +e.P.text Задача организации, в особенности начало повседневной работы по формированию позиции в значительной степени ...
                                    +e.bottom
                                        +e.SPAN.date 15 августа 2018
                                        +e.nums-block
                                            +e.nums-item
                                                +icon("eye")
                                                span 34
                                            +e.nums-item
                                                +icon("clouds")
                                                span 34

                +e.side-block
                    include ../../components/side-block/side-block

    include ../../components/footer/footer
