extends ../template

block variables
    - var title = 'House'

block content

    +header()(class='col-sky')

    +b.MAIN.single-house.main
        +e.wrp.wrp
            +b.DIV.breadcrumbs
                a(href="/") Главная
                i /
                a О ЖК Фрегат 2
                a(href="about-fregat.html") Главная
                i /
                a Дом №1
            +e.top
                +e.FIGURE.img-block
                    img(src="img/works-big.jpg")
                +e.top-text-block
                    +e.title.h1 Дом №1
                    +e.info-block
                        +e.box
                            +e.item
                                +e.lil-title Площади
                                +e.value 65.2 м2 - 85.2 м2
                            +e.item
                                +e.lil-title Цена
                                +e.value 10 256 280 руб.
                        +e.A.btn.btn_white.simple-modal(href="#docks-modal") Необходимые документы
                    +e.content.html
                        p Жилой дом №1 - первый дом масштабного проекта ЖК Фрегат 2. 25 этажный монолитно-каркасный дом состоит из 349 квартир переменной площади от 26,4 м2 до 43,2 м2.
                        p В доме предусмотрено 4 лифта фирмы Otis: 2 пассажирских, 2 грузовых. Благоустройство придомовой территории включает в себя подготовку машиномест, детской и взрослой площадок отдыха, озеленение.
                        p Дом введен в эксплуатацию 23.05.2018 г. С динамикой строительства дома можно ознакомиться на нашем сайте в разделе "Ход строительства".
                        p Дом полностью соответствует высоким стандартам, применяемым.
                        p Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке модели развития. Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
            +e.bottom
                +e.A.video-link.play(href="https://www.youtube.com/watch?v=cUYSGojUuAU")
                    img(src="img/works-big.jpg")
                    +e.SPAN.decor
                    +e.SPAN.mask
                +e.content.html
                    p Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке форм развития. Равным образом укрепление и развитие структуры позволяет оценить значение направлений прогрессивного развития.
                    p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации новых предложений.
                    p Равным образом укрепление и развитие структуры позволяет оценить значение направлений прогрессивного развития.
                    p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль.

    include ../../components/footer/footer

    +b.modal.mfp-hide#docks-modal
        +b.single-house-modal
            +e.title.h2 Необходимые документы
            +e.content.html
                ul
                    li документ 1
                    li документ 2
                    li документ 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque exercitationem nemo quis quos sapiente tempora?
                    li документ 4