-
    var headerNavTop = [
        { "text": "О нас", "link": "about.html" },
        { "text": "Ипотека", "link": "ipoteka.html" },
        { "text": "Акции", "link": "shares.html" },
        { "text": "Партнёры", "link": "partners.html" },
        { "text": "Вопрос-ответ", "link": "questions.html" },
        { "text": "Отзывы", "link": "review-page.html" },
        { "text": "Блог", "link": "blog.html" },
        { "text": "Новости", "link": "news-page.html" },
        { "text": "Контакты", "link": "contacts-page.html" }
    ]
    var headerSocials = [
        { "icon": "insta", "link": "#" },
        { "icon": "fb", "link": "#" },
        { "icon": "vk", "link": "#" },
        { "icon": "ok", "link": "#" }
    ]
    var headerNavBottom = [
        { "text": "О ЖК Фрегат", "link": "about-fregat.html" },
        { "text": "Посмотреть квартиры", "link": "look-flat.html" },
        { "text": "Ход строительства", "link": "course-page.html" },
        { "text": "Как купить", "link": "buy.html" }
    ]
    var sidebar = [
        { "text": "Главная", "link": "/" },
        { "text": "О нас", "link": "about.html" },
        { "text": "Ипотека", "link": "ipoteka.html" },
        { "text": "Акции", "link": "shares.html" },
        { "text": "Партнёры", "link": "partners.html" },
        { "text": "Вопрос-ответ", "link": "questions.html" },
        { "text": "Отзывы", "link": "review-page.html" },
        { "text": "Блог", "link": "blog.html" },
        { "text": "Новости", "link": "news-page.html" },
        { "text": "Контакты", "link": "contacts-page.html" },
        { "text": "О ЖК Фрегат", "link": "about-fregat.html" },
        { "text": "Посмотреть квартиры", "link": "look-flat.html" },
        { "text": "Ход строительства", "link": "course-page.html" },
        { "text": "Как купить", "link": "buy.html" }
    ]

mixin header()
    +b.HEADER.header(class!=attributes.class)
        +e.wrp.wrp
            +e.logo-block
                +e.A.logo-link(href="/")
                    +e.IMG.img(src="img/logo-text.png")
                    +e.IMG.img_no-text(src="img/logo.png")
            +e.nav-block
                +b.header-top
                    +e.NAV.nav
                        +e.UL.list
                            +e.LI.item_phone
                                a(href="tel:84232025009") 8 (423) 202-50-09
                            each item in headerNavTop
                                +e.LI.item_link
                                    a(href=`${item.link}`)= item.text
                    +e.UL.list
                        each item in headerSocials
                            +e.LI.item_social
                                a(href=`${item.link}`)
                                    +icon(item.icon)
                +b.header-bottom
                    +e.NAV.nav
                        +e.UL.list
                            each item in headerNavBottom
                                +e.LI.item
                                    a(href=`${item.link}`)= item.text
                            +e.LI.item_phone
                                a(href="tel:84232025009") 8 (423) 202-50-09
            +b.DIV.burger
                +e.A.btn#burger-btn
                    +e.DIV.lines-block
                        +e.SPAN.mid-line
            +b.DIV.sidebar
                +e.DIV.cont
                    +e.UL.list
                        each item in sidebar
                            +e.li.item
                                +e.A.link(href=`${item.link}`)= item.text
