+b.SECTION.excursion(style="background-image: url(img/worker.jpg);")
    +e.wrp.wrp
        +e.box
            +e.title.h2
                | Запишитесь на
                span бесплатную
                | экскурсию!
            +e.info-block
                +e.item
                    +icon("mark")
                    +e.text-block
                        +e.lil-title.h5 Адрес объекта:
                        p Гагарина 45
                        +e.A.map-link(href="#") Смотреть на карте
                +e.item
                    +icon("clock")
                    +e.text-block
                        +e.lil-title.h5 Время:
                        p Ежедневно
                        p 10:00 - 20:00
            +e.FORM.form.form-callback(data-url="")
                input(type="hidden" value="Экскурсия")
                +e.INPUT.inp.inp.inputmask(type="text" name="Телефон:" placeholder="Телефон")
                +e.BUTTON.btn.btn(type="submit") Посетить объект
            +e.P.callback-text
                span *
                |Наш менеджер перезвонит вам в течение 2 минут и согласует день и время экскурсии
