+b.SECTION.news
    +e.wrp.wrp
        +e.title-block
            +e.title.h2 Новости
            +e.A.link-all(href="#") Смотреть все новости
    +e.cont.slider-wrp
        +e.lev_top
            +e.A.link_long(href="#")
                +e.SPAN.mask
                div(style="background-image: url(img/sunset.jpg);")
                p Информация для дольщиков дома №1
            +e.A.link(href="#")
                +e.SPAN.mask
                div(style="background-image: url(img/works-small.jpg);")
                p Информация для дольщиков дома №1
        +e.lev
            +e.A.link(href="#")
                +e.SPAN.mask
                div(style="background-image: url(img/works-big.jpg);")
                p Информация для дольщиков дома №1
            +e.A.link_long(href="#")
                +e.SPAN.mask
                div(style="background-image: url(img/hero.jpg);")
                p Информация для дольщиков дома №1 Информация для дольщиков дома №1 Информация для дольщиков дома №1 Информация для дольщиков дома №1

