+b.SECTION.contacts-block
    +e.map#map(data-zoom="10" data-lat="59.931632" data-lon="30.336528" data-latmark="59.931551" data-lonmark="30.336528" data-balloon="здесь адрес")
    +e.card-block.wrp
        +e.card
            +e.info-block
                span card...
            +e.bottom
